<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- bootstrapのアイコン -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <!-- jQueryのCDN -->
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <!-- js -->
  {% include 'base/js.html' %}
  <!-- css -->
  {% include 'base/css.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>



  <!-- nav -->
  {% include 'base/nav.html' %}




  <!-- フラッシュメッセージ -->
  {% if messages %}
  <div class="text-center">
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <!-- info追加 -->
    {% elif message.tags == 'info' %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% elif message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

      {% endif %}


    {% endfor %}
  </div>
  {% endif %}



  <main>
    <div class="container">
      <div class="mb-2">
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>
  {% include 'base/footer.html' %}
</body>

</html>